.main{
    margin-top: 5vh;
    color: white;
    padding-bottom: 10vh;
  
    h1{
      padding: 20px;
      padding-left: 16vw;
      padding-right: 16vw;

      font-size: 5vw; 
      max-width: 100%;
      font-weight: 400;
      text-align: center;
    }
}