
.projects{
    position: relative;
    color: black;
    margin-top: 10vh;
    padding: 10%;
}

.projectDescription{
    display: flex;
    height: 700px;
    justify-content: space-between;
    gap: 5%;
}

.imageContainer{
    position: relative;
    height: 100%;
    width: 40%;

    img {
        object-fit: cover;
        border-radius: 36px;
        
    }
}

.column{
    display: flex;
    height: 100%;
    width: 20%;
    font-size: 1.6vw;
    color: white;

    &:last-of-type {
        align-items: flex-end;
        font-size: 1vw;
    }
}


.projectList{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
}

.projectEl{
    width: 100%;
    color: rgb(244, 244, 244);
    text-transform: uppercase;
    font-size: 3vw;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;

    h2 {
        margin: 0px;
        margin-top: 40px;
        margin-bottom: 20px;
        cursor: default;
    }
}


.button{
    top: 76.5%;
    left: 500px;
    width: 220px;
    height: 220px;
    background-color: #455CE9;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p{
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        z-index: 4;
    }
  
  
}

/* Phone (below 868px) */
@media (max-width: 868px) {
    .column{
        font-size: 2.6vw;
    
        &:last-of-type {
            font-size: 2vw;
        }
    }

    .button {
        top: 76.5%;
        left: 200px;
        width: 180px;
        height: 180px;
    }

  }