.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding: 12rem;
}

.gridItem {
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.2s ease;
}
.gridItem:hover {
  transform: scale(1.05);
}
.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f1efe7;
}

/* 
.siteInfo {
  position: absolute;
  top: 50%;
  left: 1.5em;
  display: flex;
  gap: 4px;

  flex-direction: column;
  align-items: flex-start;
}

.siteInfo p {
  color: #202020;
} */

.imgPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 75%;
  overflow: hidden;
}

.imgPreview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-top: 1em;

}

.minimap {
  position: absolute;
  top: 50%;
  right: 8em;
  width: 80px;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: 1px solid #000;
  z-index: 2;
}

.items {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  will-change: transform;
}

.item {
  width: 100%;
  height: 60px;
  padding: 5px;
  cursor: pointer;
}

.backBtn {
  position: absolute;
  bottom: 16rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.item img {
  opacity: 1;
  transition: opacity 0.2s;
}

.active img {
  opacity: 0.3;   /* same as your activeItemOpacity */
}

@media (max-width: 900px) {
  /* body {
    overflow: hidden;
    touch-action: none;
  } */

  .container {
    touch-action: none;
  }

  .site-info {
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  .minimap {
    top: auto;
    right: auto;
    bottom: 5em;
    left: 50%;
    width: auto;
    height: 80px;
    touch-action: none;
  }

  .indicator {
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
  }

  .items {
    flex-direction: row;
    width: max-content;
    height: 100%;
    touch-action: none;
  }

  .item {
    width: 60px;
    height: 100%;
    padding: 5px;
  }

  .img-preview {
    top: 45%;
    width: 75%;
    height: 50%;
  }
}